/* ESTILIZAÇÃO DO SITE 1 */

body{
    margin: 0;
    padding: 0;
}

#navbar-site1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10;
}

#links-navbar-site1{
    list-style: none;
    display: flex;
    padding: 0;
}

.item-navbar-site1{
    padding: 5;
}

.item-icon-site1{
    width: 25;
    height: 25;
    padding: 3;
}

/* ESTILIZAÇÃO DO SITE 2 */

#icon{
 
  width: 150px;
    height: 150px;
    padding-right: 10px;
}


#navbarSite2{
    display: flex;
    justify-content:
space-between;
    align-items: center;
    padding: 40px;
    background-color: rgba(2, 217, 255, 0.158);
    color: rgb(17, 0, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana,
sans-serif;
}

#Bloco2{
    padding: 100px;
    display: flex;
    justify-content:
space-between;
    align-items: center;
    padding: 40px;
    background-color: rgba(2, 217, 255, 0.158);
    color: rgb(17, 0, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana,
sans-serif;
}


